@import "./root.css";
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
main {
  padding: 20px;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.backround-header {
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
}

#logo img {
  height: 220px;
}

.outline {
  padding-right: 10px;
  padding-top: 20px;
}

.navbar {
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 200;
  padding: 20px;
}

.navbar a:hover {
  color: orangered;
  cursor: pointer;
}

span {
  display: inline;
  margin-bottom: 20px;
}

#menu-icon {
  display: none;
}

/* search form */
#form {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 30%;
}

#search {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: bisque;
  margin-right: 10px;
  padding: 20px;
  position: relative;
}

#search:focus {
  border: none;
}

.search-icon {
  font-size: 30px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 250px;
  margin: 50px 20px 50px 20px;
  cursor: pointer;
}

.book-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.book-info {
  padding: 10px;
  text-align: center;
}

.book-info p a {
  text-decoration: none;
  color: black;
}

.book-author {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.book-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.book-description {
  font-size: 1rem;
  color: #555;
}

@media screen and (max-width: 480px) {
  #form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .form-input {
    width: 70%;
  }

  .search-icon {
    right: 15px;
  }
}

/* contributors section styles*/

#contributors {
  width: 50%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#contributors article {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid var(--contributors-main-color);
  min-width: 23rem;
  padding: 0.5rem;
  background: var(--contributors-main-bg-color);
  background: linear-gradient(
    90deg,
    var(--contributors-main-bg-color) 0%,
    var(--contributors-main-bg-color) 70%,
    var(--contributors-main-color) 70%,
    var(--contributors-main-color) 100%
  );
}

#contributors article:hover {
  box-shadow: 0 4px 8px 0 var(--contributors-box-shadow-color),
    0 6px 20px 0 var(--contributors-box-shadow-color);
}

#contributors article .fullname {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: -0.2rem;
  color: var(--text-color);
  text-decoration: none;
}

#contributors article a:hover {
  text-decoration: underline;
}

#contributors article .division {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: lowercase;
  color: gray;
  margin-bottom: 2.5rem;
}

#contributors article .division span {
  color: var(--text-color);
}

#contributors article ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#contributors img {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  box-shadow: 0 4px 8px 0 var(--contributors-box-shadow-color),
    0 6px 20px 0 var(--contributors-box-shadow-color);
}

#contributors div {
  width: 50%;
}
.footer-container {
  padding: 20px;
  background-image: linear-gradient(
    90deg,
    var(--contributors-main-color) 70%,
    var(--contributors-main-color) 100%
  );
  color: #0b2239;
  margin-top: 50px !important;
  margin-bottom: 0;
  font-family: "Lato", Arial, sans-serif;
  transition: bottom 0.3s ease;
  margin: auto;
}

#footer-main-section {
  max-width: 900px;
  display: flex;
}

#footer-section1 {
  flex: 0.5;
  box-sizing: border-box;
  padding-right: 15px;
}

#footer-section2 {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  padding-top: 15px;
}

#footer-section3 {
  display: flex;
  box-sizing: content-box;
  justify-content: center;
}

#footer-links {
  margin-top: 10px;
  margin-left: 15px;
}

#footer-links ul {
  list-style: none;
  text-transform: uppercase;
  border-left: 2px solid #0b2239;
  padding-left: 10px;
  letter-spacing: 0.1rem;
  line-height: 1.1;
  margin-bottom: 0px;
}

#footer-links ul li {
  padding-bottom: 5px;
  font-weight: 700;
}

#footer-links ul li:last-child {
  padding-bottom: 0;
}

#footer-links ul li:hover {
  color: #efeff0;
  cursor: pointer;
}

.footer-box {
  margin-top: 20px;
  width: 350px;
  height: 70px;
  padding: 0.1rem 3rem;
  text-align: center;
  box-sizing: border-box;
}

.footer-box img:hover {
  transform: scale(1.1);
  display: inline-block;
}

#intechgration {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 0 12px 2px #0b2239;
}

#cordrop {
  width: 80%;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 0 12px 2px #0b2239;
}

.footer-box a {
  color: #0b2239;
  font-size: 15px;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
}

#footer-copyright {
  color: #0b2239;
  font-weight: 700;
  text-align: center;
  padding-top: 2px;
  margin-bottom: 2px;
}
@media screen and (max-width: 400px) {
  #contributors img {
    scale: 70%;
  }
}
@media (max-width: 600px) {
  #logo img {
    height: 60px;
  }

  #menu-icon {
    margin-top: 15px;
    padding-bottom: 00px;
  }

  .navbarSection {
    padding-bottom: 10px;
  }
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: -10px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}



.backround-header {
    z-index: -1;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;

}

#logo img {
    height: 120px;
}

.outline {
    padding-right: 10px;
    padding-top: 20px;
}

.navbar {
    display: flex;

}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 200;
    padding: 20px;
}

.navbar a:hover {
    color: orangered;
}

span {
    display: inline;
    margin-bottom: 20px;
}

#menu-icon {
    display: none;
}


@media (max-width:1080px) {

    #logo img {
        height: 90px;
    }

    #menu-icon {
        font-size: 2rem;
        color: black;
        cursor: pointer;
        display: flex;
        align-self: end;
        margin-top: 15px;

    }

    .navbar {
        position: absolute;
        padding: 0px;
        top: 69%;
        right: -100%;
        width: 200px;
        height: 30vh;
        background: rgba(255, 166, 0, 0.521);
        border-radius: 10px;
        transition: all 0.7s ease;
        display: inline-block;

    }

    .navbar.open {
        right: 15px;
    }
}



@media (max-width:600px) {
    #logo img {
        height: 60px;

    }

    #menu-icon {
        margin-top: 15px;
        padding-bottom: 00px;

    }

    .navbarSection {
        padding-bottom: 10px;

    }



}
