@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.footer-container {
    background-color: #bdced6;
    color: #0b2239;
    padding:0;
    margin:0;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Lato', Arial, sans-serif;
}
.footer-container-1{
    justify-content: space-between;
    display: flex;
    padding: 0.1rem 3rem;
}

#footer-links ul{
    list-style: none;
    text-transform: uppercase;
    border-left: 2px solid #0b2239;
    padding-left: 15px;
    margin-top: 25px;
    letter-spacing: 0.2rem;

}
#footer-links ul li{
        padding-bottom: 5px;
        font-weight: 700;
}
#footer-links ul li:last-child {
    padding-bottom: 0;
}
#footer-links ul li:hover {
    color: #efeff0;
    cursor: pointer;
}
#footer-copyright {
    color: #0b2239;
    font-weight: 700;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 0.5px;
    margin-bottom: 5px;
}
@media screen and (max-width: 1000px) {
    footer div{
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
}